@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,900&family=Shrikhand&display=swap');
/*General*/
html
{
    font-family: 'Roboto', sans-serif;
    

}
.Arow
{
    margin-left: 30px;
    font-size: x-large;
    color: black;
}
.TitrePage
{
padding-right: 110px;


}
.decorationNone
{
    text-decoration:none;
}
body
{
    margin: 0;
    padding: 0;


}

h2
{
 font-weight: bold;
 font-family: 'Shrikhand', cursive;
 margin-left: 20px;
 font-size: 25px;

}
header
{
    font-family: 'Shrikhand', cursive;
 
    

}

/*Propriété Flex*/

.flexCentre
 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround
{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.flexBetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.flexColumnCentre
 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumnAround
{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    

}

.flexColumnBetween
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }

/*header*/

.ImageHeader
{
    max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
    height: 360px;
    position: absolute;
 
 
}
/*body*/

.BackGris
{
    background-color: #fbfbfb;
    border-radius: 30px 30px 0 0;
width:  100%;
position: relative;
height: 100%;
margin-top: 70%;
padding-bottom: 40px;

  

}
/*Précision TITRE*/

.description_platgout {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 16px;
}
  /*Menu*/

  .menu h4 {
    font-weight: 200;
    margin-left: 10px;
  }
  .menu h4::after {
    display: block;
    content: "";
    height: 3px;
    width: 30px;
    background: #99e2d0;
  }
  .menu .menu-card {
    cursor: pointer;
    background-color: white;
    position: relative;
    border-radius: 12px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
   
  }
  .menu .menu-card:hover .check {
    width: 25%;
  }
  .menu .menu-card:hover .check > .fa-check-circle {
    opacity: 1;
    animation: rotation 1.2s linear;
  }
  .menu .choice {
    width: 100%;
    padding: 0 10px;
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: auto auto;
    grid-template-areas: "text1 ." "text2 price";
   
   
  }
  .menu .choice p {
    display: block;
    margin-right: 10px;
 
   
  }

  
  .menu .choice p:nth-child(1) {
    grid-area: text1;
    font-weight: 700;
  }
  .menu .choice p:nth-child(2) {
    grid-area: text2;
    font-weight: 200;
  }
  .menu .choice p:nth-child(3) {
    grid-area: price;
    display: flex;
    justify-content: flex-end;
   
  }
  
  .check {
    transition: width 1.2s linear;
    width: 0;
    right: 0;
    background-color: #99e2d0;
    color: white;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
    justify-content: center;
    transform-origin: right center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes rotation {
    from {
      z-index: 1;
      transform: rotate(0);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      z-index: 1;
      transform: rotate(360deg);
    }
  }
  /*commander*/

.buttonCommander
{
color: white;
    border-radius:25px 25px 25px 25px ;
    background-image:linear-gradient(to top,#9356DC,#FF79DA);
    height: 50px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
  box-shadow: 0px 5px 8px rgb(204, 203, 203);
}
.buttonCommander:hover
{
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 10px 12px rgb(204, 203, 203);
 
}
/*Footer*/


.ColorFoot
{
    color: white;
}
.titleFooter
{
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    margin-left: 25px;

}
.MarginFoot
{
    margin: 25px;
    
}
.Footer {
    background-color:  #3f3d3d;;
    bottom: 0;
    height: 200px;
   
}
.paddingFoot
{
    padding-bottom: 8px;
}
.logoFoot
{
    color: white;
    padding-right: 7px;
}
/*APPARATIONS*/
.choice,.menu-card
{
   
    animation: apparition 1.2s ease-out;
}
@keyframes apparition
{
    FROM {
        opacity: 0;
        transform: translateY(+100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/*LogoCoeur*/
.fa-heart {
  font-size: x-large;
  font-weight: inherit;
}

.fa-heart:hover {
  font-weight: bold;
  color: #d200da;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: progress;
          animation-name: progress;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
@-webkit-keyframes progress /*remplissage des coeurs progressif*/ {
  0% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}

@keyframes progress /*remplissage des coeurs progressif*/ {
  0% {
    opacity: 0.33;
  }
  100% {
    opacity: 1;
  }
}
.logoResto
{
  margin-right: 20PX;
}


/*responsive*/
/*Grand écran*/

@media  (min-width:1200px) {

  .Bloc1
  {
   float: left;
   width: 33%;
  }
  .Bloc2
  {
   float: left;
   width: 33%;
  }
  .Bloc3
  {
   float: left;
   width: 33%;
  }
  .ImageHeader
  {
   height: 500px;
  }
  .buttonCommander
  {
  margin-left:35%;
  margin-right: 35%;
  margin-top: 33%;
  
  }
  H1
  {
  margin-right: 30%;
  }
  .TitrePage
  {
    padding-right: 15%;
  }
    
    
    
  
  .BackGris
    {
    
      height: 600px;
      margin-top: 32%;
  
     
    }
}

@media (max-width:1200px) and (min-width:990px) {
  
  .BackGris
    {
    
      height: 950px;
      margin-top:42%;
  
     
    }

.Bloc1
{
 float: left;
 width: 50%;
}
.Bloc2
{
 float: left;
 width: 50%;
}
.Bloc3
{

 width: 50%;


}
 .ImageHeader
 {
  height: 500px;
 }
 .buttonCommander
 {
margin-left:35%;
margin-right: 35%;
margin-top: 10%;

 }
 H1
 {
margin-right: 30%;
 }
 .TitrePage
{
  padding-left: 35%;
}
  

}
@media (max-width:990px) and (min-width:750px) {
  


  .TitrePage
{
  padding-right: 15%;
}

  .BackGris
  {
  
    height: 1000px;
    margin-top: 40%;

   
  }
 .Bloc1
 {
  float: left;
  width: 50%;
 }
 .Bloc2
 {
  float: left;
  width: 50%;
 }
 .Bloc3
 {
  justify-content: center;
  width: 50%;
 }
 
 .ImageHeader
 {
  height: 500px;
 }
 .buttonCommander
 {
margin-left:35%;
margin-right: 35%;
margin-top: 10%;

 }
 H1
 {
  margin-right: 26%;
 }

}
@media (max-width:750px) and (min-width:450px)
{
  .BackGris
  {
      background-color: #fbfbfb;
      border-radius: 30px 30px 0 0;
  width:  100%;
  position: relative;
  height: 100%;
  margin-top: 40%;
  padding-bottom: 40px;
  
    
  
  }
  .TitrePage
  {
    padding-right: 35%;
  }
}

